<%- include("_header") -%>

  <h1>Create New Customer</h1>

  <form action="/create" method="post">
    <div class="form-horizontal">

      <%- include("_creator") -%>

        <div class="form-group row">
          <label class="col-form-label col-sm-2"></label>
          <div class="col-sm-10">
            <input type="submit" value="Create" class="btn btn-default btn-success" />
            <input type="reset" value="Reset" class="btn btn-default btn-success" />
          </div>
        </div>
    </div>
  </form>

  <%- include("_footer") -%>