<%- include("_header") -%>

  <h1>Customer Update</h1>

  <form action="/edit/<%= cust.cusid %>" method="post">
    <div class="form-horizontal">

      <%- include("_editor") -%>

        <div class="form-group row">
          <label class="col-form-label col-sm-2"></label>
          <div class="col-sm-10">
            <input type="submit" value="Update" class="btn btn-default btn-warning" />
            <a class="btn btn-outline-dark cancel" href="/customers">Cancel</a>
          </div>
        </div>
    </div>
  </form>

  <% if (type==="post" ) { %>
    <% if (msg.substring(0,5)==="Error" ) { %>
      <h3>Unpdate was not successful</h3>
      <% } else { %>
        <h3>Customer Updated Successfully</h3>
        <% } %>
          <% } %>

            <%- include("_footer") -%>