<%- include("_header") -%>

  <h1>Customer Import</h1>

  <h4>Total number of records in the database: <%= totRecs %>
  </h4>

  <h4>Select a file with customer for Database Insert</h4>

  <form>
    <input type="file" name="filename" required>
    <p></p>
    <input type="submit">
  </form>
  <p id="result"></p>

  <script>

    // Handle form submission
    document.querySelector("form").addEventListener("submit", e => {
      // Cancel default behavior of sending a synchronous POST request
      e.preventDefault();
      // Create a FormData object, passing the form as a parameter
      const formData = new FormData(e.target);
      // Send form data to the server with an asynchronous POST request
      fetch("/import", {
        method: "POST",
        body: formData
      })
        .then(response => response.text())
        .then(data => {
          const resultElement = document.getElementById("result");
          if (data.substring(0, 5) === "Error") {
            resultElement.innerText = `Error occurred!  ${data}`
          } else {
            resultElement.innerText = data;
          };
        })
        .catch(err => {
          document.getElementById("message").textContent = `Error: ${err.message}`;
        });
    });
  </script>

  <%- include("_footer") -%>